In [29]:
# pip install pandas 
import pandas as pd
import matplotlib.pyplot as plt

# Read the csv file
data = pd.read_csv('MinimumWageData.csv', encoding= 'unicode_escape')
data["Year"] = data[["Year"]].astype(int)
data = data[data["Year"]>=1976]

In [30]:
data.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
432,1976,Alabama,0.0,0.00,2.2,10.0,2.2,10.00,56.9,...,0.0,0.00,0.0,0.00,NaN
433,1976,Alaska,2.8,12.73,2.2,10.0,2.8,12.73,56.9,2.8,2.8,12.73,2.8,12.73,NaN
434,1976,Arizona,0.0,0.00,2.2,10.0,2.2,10.00,56.9,...,0.0,0.00,0.0,0.00,NaN
435,1976,Arkansas,1.9,8.64,2.2,10.0,2.2,10.00,56.9,1.9,1.9,8.64,1.9,8.64,NaN
436,1976,California,2.0,9.09,2.2,10.0,2.2,10.00,56.9,2,2.0,9.09,2.0,9.09,NaN

In [32]:
data = data.rename(columns={\
        "State.Minimum.Wage" : "state_minwage", "State.Minimum.Wage.2020.Dollars" : "state_minwage_2020d", "Federal.Minimum.Wage":"fed_minwage",\
            "Federal.Minimum.Wage.2020.Dollars":"fed_minwage_2020d", "Effective.Minimum.Wage":"eff_minwage", "Effective.Minimum.Wage.2020.Dollars":"eff_minwage_2020d",\
                "CPI.Average":"cpi_avg", "Department.Of.Labor.Uncleaned.Data":"uncleaned_dol", "Department.Of.Labor.Cleaned.Low.Value":"dol_low",\
                    "Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":"dol_low_2020d", "Department.Of.Labor.Cleaned.High.Value":"dol_high",\
                        "Department.Of.Labor.Cleaned.High.Value.2020.Dollars":"dol_high_2020d"})
data = data.drop(["Footnote"], axis = 1)
data.head()

,Year,State,state_minwage,state_minwage_2020d,fed_minwage,fed_minwage_2020d,eff_minwage,eff_minwage_2020d,cpi_avg,uncleaned_dol,dol_low,dol_low_2020d,dol_high,dol_high_2020d
432,1976,Alabama,0.0,0.00,2.2,10.0,2.2,10.00,56.9,...,0.0,0.00,0.0,0.00
433,1976,Alaska,2.8,12.73,2.2,10.0,2.8,12.73,56.9,2.8,2.8,12.73,2.8,12.73
434,1976,Arizona,0.0,0.00,2.2,10.0,2.2,10.00,56.9,...,0.0,0.00,0.0,0.00
435,1976,Arkansas,1.9,8.64,2.2,10.0,2.2,10.00,56.9,1.9,1.9,8.64,1.9,8.64
436,1976,California,2.0,9.09,2.2,10.0,2.2,10.00,56.9,2,2.0,9.09,2.0,9.09

In [33]:
def state_df(state_name: str, filename : str = None):
    if filename is None:
        filename = state_name.lower()
    df = pd.read_csv(f'{filename.lower()}.csv')
    df['DATE'] = df['DATE'].str[:4]
    df['DATE'] = df[['DATE']].astype(int)
    df = df.groupby("DATE").mean().reset_index()
    df = df.rename(columns={df.columns[1]: 'Unemployment', 'DATE':'Year'})
    df['State'] = state_name
    return df

In [34]:
dataNY = state_df("New York", "ny")
dataMass = state_df("Massachusetts", "mass")
dataColorado = state_df("Colorado")
dataPenn = state_df("Pennsylvania", 'penn')
dataWV = state_df("West Virginia", 'vaur')
dataWV = state_df("Florida", 'flur')
dataWV = state_df("Ohio", 'ohur')
dataWV = state_df("Alabama", 'alur')
dataWV = state_df("Wisconsis", 'wiur')
dataWV = state_df("Michigan", 'miur')
dataWV = state_df("Illinois", 'ilur')
dataTexas = state_df("Texas")
dataTexas.head()

   Year  Unemployment  State
0  1976      5.816667  Texas
1  1977      5.433333  Texas
2  1978      4.866667  Texas
3  1979      4.416667  Texas
4  1980      5.250000  Texas

In [35]:
combinedFrames = [dataColorado, dataMass, dataTexas, dataNY, dataPenn, dataWV]
stateUnemploymentData = pd.concat(combinedFrames)

In [39]:
result = pd.merge(data, stateUnemploymentData, on=["State", "Year"])
print(result[0:10])
result.to_csv("final.csv")

   Year          State  state_minwage  state_minwage_2020d  fed_minwage  \
0  1976       Colorado            1.0                 4.55          2.2
1  1976       Illinois            2.1                 9.55          2.2
2  1976  Massachusetts            2.1                 9.55          2.2
3  1976       New York            2.3                10.46          2.2
4  1976   Pennsylvania            2.2                10.00          2.2
5  1976          Texas            1.4                 6.36          2.2
6  1977       Colorado            1.0                 4.27          2.2
7  1977       Illinois            2.1                 8.96          2.2
8  1977  Massachusetts            2.1                 8.96          2.2
9  1977       New York            2.3                 9.82          2.2

   fed_minwage_2020d  eff_minwage  eff_minwage_2020d  cpi_avg   uncleaned_dol  \
0              10.00          2.2              10.00     56.9  1.00 - 1.25(b)
1              10.00          2.2              10.00     56.9             2.1
2              10.00          2.2              10.00     56.9             2.1
3              10.00          2.3              10.46     56.9             2.3
4              10.00          2.2              10.00     56.9             2.2
5              10.00          2.2              10.00     56.9             1.4
6               9.39          2.2               9.39     60.6  1.00 - 1.25(b)
7               9.39          2.2               9.39     60.6             2.1
8               9.39          2.2               9.39     60.6             2.1
9               9.39          2.3               9.82     60.6             2.3

   dol_low  dol_low_2020d  dol_high  dol_high_2020d  Unemployment
0      1.0           4.55      1.25            5.68      5.916667
1      2.1           9.55      2.10            9.55      6.550000
2      2.1           9.55      2.10            9.55      9.741667
3      2.3          10.46      2.30           10.46     10.208333
4      2.2          10.00      2.20           10.00      8.008333
5      1.4           6.36      1.40            6.36      5.816667
6      1.0           4.27      1.25            5.34      6.350000
7      2.1           8.96      2.10            8.96      6.191667
8      2.1           8.96      2.10            8.96      7.866667
9      2.3           9.82      2.30            9.82      9.166667